{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>One More Face by ShanghaiTech</title>

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/material.min.css" %}" rel="stylesheet">
        <link href="{% static "css/common.css" %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="init">
        <div class="logo"></div>
        <div class="fixed-left">
            <div id="localMediaContainer">
                <select name="mask" id="selectmask" onchange="changemask()">
                    <option value="0">Average face</option>
                    <option value="1">Mona Lisa</option>
                    <option value="2">Ironman</option>
                    <option value="3">Skull mask</option>
                    <option value="4">Sean Connery</option>
                    <option value="5">Audrey</option>
                    <option value="6">Cage</option>
                </select>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <input type="text" class="form-control" placeholder="Type your name..." value="Anonymous" id="name">
                    </h3>
                </div>
                <div class="panel-body" id="msgbox">
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type something..." id="reply">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" onclick="sendmsg($('#reply').val())">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-right">
            <div class="fixed-right-top">
                <div id="container-view">
                </div>

            </div>
            <div class="fixed-right-bottom">
                <div id="container">
                </div>
            </div>
            <div id="content">
                <img id="average" class="masks" src="{% static "./media/average.bmp" %}"></img>
                <img id="monalisa" class="masks" src="{% static "./media/joconde.jpg" %}"></img>
                <img id="ironman" class="masks" src="{% static "./media/ironman.jpg" %}"></img>
                <img id="sean" class="masks" src="{% static "./media/SeanConnery.jpg" %}"></img>
                <img id="skull" class="masks" src="{% static "./media/skullmask.jpg" %}"></img>
                <img id="audrey" class="masks" src="{% static "./media/audrey.jpg" %}"></img>
                <img id="cage2" class="masks" src="{% static "./media/cage.jpg" %}"></img>
            </div>
        </div>
    <script type="text/javascript">
        var token = "{{token}}";
    </script>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/realtimecat-0.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/dat.gui.min.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/numeric-1.2.6.min.js" %}"></script>
    <script src="{% static "js/mosse.js" %}"></script>
    <script src="{% static "js/jsfeat-min.js" %}"></script>
    <script src="{% static "js/frontalface.js" %}"></script>
    <script src="{% static "js/jsfeat_detect.js" %}"></script>
    <script src="{% static "js/left_eye_filter.js" %}"></script>
    <script src="{% static "js/right_eye_filter.js" %}"></script>
    <script src="{% static "js/nose_filter.js" %}"></script>
    <script src="{% static "models/model_pca_20_svm.js" %}"></script>
    <script src="{% static "js/clm.js" %}"></script>
    <script src="{% static "js/svmfilter_webgl.js" %}"></script>
    <script src="{% static "js/svmfilter_fft.js" %}"></script>
    <script src="{% static "js/mossefilter.js" %}"></script>
    <script src="{% static "js/Stats.js" %}"></script>
    <script src="{% static "js/face_deformer.js" %}"></script>

    <script src="{% static "js/material.min.js" %}"></script>

    <script src="{% static "js/ripples.min.js" %}"></script>




    <script src="{% static "js/mask.js" %}"></script>
    <script src="{% static "js/onemoreface.js" %}"></script>
</body>

</html>
